{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/flowtype"],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "markdown"],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0
  }
}
