.idea
.DS_Store
.eslintcache
*.swp

/node_modules
/coverage
package-lock.json

/packages/*/dist/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log
